name: Sync to Hugging Face Hub
# Trigger deployment manually

on:
  push:
    branches: [main]

  # Make it manually triggerable
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git push -f https://umer6016:$HF_TOKEN@huggingface.co/spaces/umer6016/Stockker main
